/* Common Part
 *******************************************/

/* header
 *******************************************/
 .main-header{
 	margin-top: 10px;
 }

/* Content
 *******************************************/
.modal.modal-login{
	margin-left: -160px;
	width:320px;
}

.modal-login .modal-header{
 	background:url('../img/logo.png') no-repeat;
	background-position:90% 30%;
	background-size: 30%;
 }

.forgotPassword a{
	float: left;
}

.forgotPassword btn{
	float: right;
}

.pagination{
	text-align: center;
}

/* Footer
 *******************************************/
 footer .container{
 	text-align: center;
 	margin-bottom: 20px;
 }