/* Common Part
* *******************************************/

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

/* header
 *******************************************/
.user-nav{
	background: #050F61;
	color:#FCFEEB;
	text-align: right;
	font-size: 14px;
}

.user-nav ul{
	margin: 0;
	padding: 5px 0;
}

.user-nav li{
	display: inline-block;
	margin-left: 20px;
	//margin-top: 10px;
	//margin-bottom: 10px;
}

.user-nav a{
	color: inherit;
}

header{
	color:#050F61;
	padding: 2px;
	//background:#E3E4E0;
	background: url('../img/bg-pattern.png');
}

.main-nav{
	text-align: center;
	font-size: 14px;
}

.main-nav ul{
	margin:0;
	padding: 10px;
	text-align: right;	
}

.main-nav li{
	background: #FFFFFF;	
	display: inline-block;
	margin-left: -3px;
	//margin-top: 20px;
	//margin-bottom: 10px;
	//padding: 45px 15px 15px 45px;
}

.main-nav li:first-child{
	 border-radius: 5px 0 0 5px;
}

.main-nav li:last-child{
	 border-radius: 0 5px 5px 0;

}

.main-nav li:first-child a{
	 border-radius: 0 0 0 5px;
}

.main-nav li:last-child a{
	 border-radius: 0 5px 5px 0;
}

.main-nav a{
	color: inherit;
	display: block;
	padding: 32px;
	border-bottom: solid 5px #ecede9;
}

.main-nav a:hover{
	text-decoration: none;
	border-color: #06258E;
}

/* Content
 *******************************************/
.productTitle{
	margin-top:50px;
	border_bottom: solid 3px black;
}

#garis{
	margin:10px;	
}

#garisabout{
	margin:10px;

}

.span3{
	margin-left: 15px;
	text-align: center;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	position: relative;
}

.span3 .harga{
	position: absolute;
	top:0px;
	left:13px;
	padding: 5px;
	background: rgba(255,255,255,0.8);

}

.productImg{
	border: solid 5px rgba(0,0,0,0);
	display: block;
}

.productImg:hover{
	
	border : solid 5px #10138F;
	
}

.aboutTitle{
	margin-top: 1.5em;
	text-align: center;
	border-bottom: solid 5px #D7D8D1;
}

.isiabout{
	padding-left: 10em;
	padding-right: 10em;
	margin-top: 5em;
	margin-bottom: 1em;
}

.penutupabout{
	text-align: right;
	font-weight: bold;
	padding-left: 10em;
	padding-right: 10em;
	margin-bottom: 3em;
}

.productpage{
	text-align: center;
	font-size: 14px;
}

.productpage ul{
	margin:0;
	padding: 10px;
	text-align: center;	

}

.productpage li{
	background: #F5F5F5;	
	display: inline-block;
	margin-left: -5px;
	border-color: #BBBDB3;
	border: 1px solid;
	//margin-top: 20px;
	//margin-bottom: 10px;
	padding: 10px 2px 2px 10px;
}

.productpage li:first-child{
	 border-radius: 5px 0 0 5px;
	 padding-left: 40px;
}

.productpage li:last-child{
	 border-radius: 0 5px 5px 0;
	 padding-right: 40px;
}

.productpage a{
	color: inherit;
	display: block;
	margin-top: -8px;
}

.productpage .active{
	background: #AAAC9D;
}

.hargaProduk{
	font-size: 18px;
}

#map{
	width:100%;
	height: 300px;
}

/* Footer
 *******************************************/
.span12{
	background:#050F61;
	color:#FCFEEB;
	text-align: center;
}

.footerrow{
	margin-top: 10px;
	margin-bottom: 10px;
}

.social{
	display: inline-block;
	margin: 0 1em;
}

.social span{
	display: block;
	margin-top: 4px;
}

footer{
	background: #050F61;
}

